.survey-list-container {
  //     width: 200px;
  //   margin:1rem;
  //   float: right;
  //   display: flex;
  //   align-items: center;
}

.survey-list-main {
  background: #ffff;
  max-width: 60%;
  position: relative;
  top: 30%;
  left: 0%;
  transform: translate(35%, 30%);
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  border-radius: 10px;
  display: flex;
}

.dash-head-content {
  display: flex;
  align-items: center;
  width: fit-content;
}

.dash-head-content .border-number {
  margin-left: 1rem;
  border-radius: 4px;
  background-color: var(--btn-success);
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
}

.border-number h4 {
  position: relative;
  padding: 0.2rem 1rem 0.2rem 1rem;
  color: white;
}

.survey-list-filter-content {
  display: flex;
  align-items: center;
}

.survey-select {
  width: 250px;
  padding-right: 1rem;
}

.form-select-group {
  width: 100%;
}

.form-select-group select {
  width: 100%;
  outline: none;
  padding: 0.3rem;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  border: 1px solid #bbbbbbbb;
  margin-top: 0px;
}

.form-select-group option {
  outline: none;
  border: none;
}

.survey-select button {
  position: relative !important;
  margin-top: -50px !important;
}

.surver-list-card {
  max-width: 100%;
  background-color: #ffff;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  align-items: center;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.surver-list-card p {
  padding-top: 0.3rem;
  font-size: 14px;
}

.surver-list-card h3 {
  color: var(--btn-success);
  cursor: pointer;
}

.surver-list-card h3:hover {
  color: var(--main-color-hover);
  cursor: pointer;
}

.collapse span {
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 16px;
}

.collapse span:hover {
  color: #bbb;
  transform: rotate(90deg);
}

.grap button,
span {
  width: fit-content;
  transition: all 0.5s ease-in-out;
}

.grap button span:hover {
  transform: rotate(90deg);
}

.surver-create-card {
  max-width: 100%;
  background-color: #ffff;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  margin-top: 1rem;
}

.surver-create-card .survey-form-group {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.surver-create-card .survey-form-date-group {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.survey-form-group select{
  width: 100%;
  outline: none;
  padding: 0.3rem;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  border: 1px solid #bbbbbbbb;
  margin-top: 0px;
}

.form-button-group .md{
  width: 100%;
  background-color: var(--btn-submit);
  color: white;
}

.form-button-group .md:hover{
  width: 100%;
  background-color: var(--btn-submit-hover);
  color: white;
}

.svd_commercial_container{
  display: none !important;
}

.border-number-list {
  border-radius: 4px;
  background-color: var(--btn-success);
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  padding: .2rem;
  color: #ffff;

}