.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #ffffff;
  padding: 1rem;
}

.main-side {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0rem;
}
.sidebar-header span {
  cursor: pointer;
}

.sidebar-header span:hover {
  cursor: pointer;
  color: #bbb;
}

.sidebar-menu {
  padding-top: 20px;
}

#menu-p {
  color: rgba(255, 255, 255, 0.4);
  padding: 1rem 0 1rem 0;
  font-size: 0.9rem;
}

.sidebar li {
  margin-bottom: 1.2rem;
}

.sidebar a {
  color: #ffffff;
  font-size: 0.9rem;
}

.sidebar a #right {
  text-align: right;
}

.sidebar a:hover {
  color: #bbb;
  font-size: 0.9rem;
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

.text-logo {
}

.brand img {
  position: relative;
  width: 200px;
  margin-top: 80px;
  cursor: pointer;
  transition: all 1s ease;
}

.brand img:hover {
  transform: rotate(20deg);
}

header {
  position: fixed;
  left: 273px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.search-wrapper input:focus {
  border-color: white !important;
  box-shadow: 0 white !important;
  border: 0;
  outline: 0;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.social-icons span,
.social-icons div {
  margin-right: 1rem;
  cursor: pointer;
}

.social-icons div {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  margin-top: 20px;
}

.card-single {
  background-color: #ffffff;
  border-radius: 7px;
  margin-bottom: 1.8rem;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.card-body {
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
}

.card-body span {
  padding-right: 1rem;
  font-size: 1.5rem;
  color: #777;
}

.card-body h5 {
  color: var(--text-grey);
  font-size: 1rem;
}

.card-body h4 {
  color: var(--color-dark);
}

.card-footer {
  padding: 0.2rem 1rem;
  background: #f9fafc;
}

.card-footer a {
  color: var(--main-color);
}

//   .foot-side a{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   .foot-side ul ul{
//     position: static;
//   }

//   .foot-side ul #sub-menu{
//     padding: 1rem 1rem 0 2rem;
//   }

//   .foot-side input{
//     display: none;
//   }

// [id^=btn]:checked + ul{
//   display: none;
// }

.foot-side ul li label  {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  
}

.foot-side ul li label:hover{
  color: #bbb;
}

ul li label #icon-sub{
  padding-right: 1rem;

}

ul li label {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

ul li input{
  display: none;
  opacity: 0;
  transition: all 1s ease-in-out;
}

[id^=btn]:checked + ul{
  display: block;
  opacity: 1;
} 

ul li #sub-menu{
  margin-left: 2.5rem;
}

ul ul{
  display: none;
}