@font-face {
  font-family: "promtback";
  src: url("./Assets/Prompt-Light.ttf");
}
:root {
  --main-color: #0b7bb3;
  --main-color-hover: #315035;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --btn-success: #5aa667;
  --btn-refresh: #efeff1;
  --btn-pending: #f7b224;
  --btn-submit: #245894;
  --btn-hover: #dedee2;
  --btn-submit-hover: #396ba3;
  --btn-pending-hover: #ebb342;
}

* {
  font-family: promtback;
  margin: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

input {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

// input:focus {
//   border-color: dodgerblue;
//   box-shadow: 0 0 8px 0 dodgerblue;
// }

.dash-tittle {
  color: var(--color-dark);
  margin-top: 0rem;
}

.main-content {
  position: relative;
  margin-left: 240px;
}

main {
  margin-top: 60px;
  background: #f1f1f1;
  min-height: 90vh;
  padding: 1rem 1rem 1rem 5rem;
}

button {
  outline: none;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
  background: var(--btn-refresh);
  font-size: 14px;
}

button span,
button label {
  padding: 0.4rem;
  cursor: pointer;
}

button:hover {
  background: var(--btn-hover);
}

.title-container {
  max-width: 100%;
  background-color: #ffff;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  align-items: center;
}

.logic-but-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logic-but-content button {
  margin-left: 1.2rem;
}

#button-submit {
  background-color: var(--btn-submit);
  color: #fff;
}

#button-submit:hover {
  background-color: var(--btn-submit-hover);
  color: #fff;
}

.title-container {
  max-width: 100%;
  background-color: #ffff;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  align-items: center;
}

.title-container-arround{
  max-width: 100%;
  background-color: #ffff;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content:flex-start;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  align-items: center;
}

.logic-container{
  max-width: 100%;
  background-color: #ffff;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  align-items: center;
  margin-top: 1.8rem;
}

.grap{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 0rem;
  margin-top: 1rem;
}